.section3 {
    height: 120vh;
    background-color: var(--preto);
  }
  
  .section3 h1 {
    margin-bottom: 30px;
  }
  
  .contain3__section3 {
    text-align: center;
  }
  
  .botoes__section3 {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top:30px ;
  }
  
  /* Estilos dos projetos */
  .projetos-1,
  .projetos-2,
  .projetos-3,
  .projetos-4 {
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 16px rgb(83, 143, 217);
    border-radius: 30px;
    width: 200px;
    height: 300px;
    background-color: black;
  }
  
  .projetos-1 {
    background-image: url(../assets/img-projeto1.jpg);
  }
  
  .projetos-2 {
    background-image: url(../assets/img-projeto2.jpg);
  }
  
  .projetos-3 {
    background-image: url(../assets/img-projeto3.jpg);
  }
  .projetos-4 {
    background-image: url(../assets/img-projeto4.jpg);
  }
  
  /* Contêiner dos projetos */
  .contain-projetos {
    
    position: relative;
    width: 100%; /* Ajuste conforme necessário */
  }
  
  .contain-projetos-front,
  .contain-projetos-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  
  .contain-projetos-front {
    z-index: 2;
  }
  
  .contain-projetos-back {
    z-index: 1;
    display: none; /* Começa invisível */
  }

  @media (min-width: 769px) and (max-width: 13660px) {
    .section3 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom:200px ;
    }
    .contain3__section3 h2 {
      margin: 0 auto;
      border-bottom: solid var(--cinza-claro) 3px;
    }
    .contain3__section3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%; /* Garante que o conteúdo ocupe toda a largura do pai */
    }
    
    .botoes-diferencial-section1 {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px; /* Espaço entre os botões */
    }
    
    .botoes__section3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    
    .contain-projetos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px; /* Espaço entre os containers de projetos */
    }
    
    .contain-projetos-front,
    .contain-projetos-back {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 50px; /* Espaço entre os projetos */
    }
  }

  /* para telas grandes */
@media (min-width: 1500px) {
  .section3 {
      height: 120vh;
      margin-bottom: 10px !important;
  }
  
}
  