.sectio1 {
    height:  85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
}
.contain__section1 {
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.texto__conteudo__contain__section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo__contain__section1 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.titulo-principal span {
    color: var(--verde);
}

.botoes-section1 {
    
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media (min-width: 769px) and (max-width: 2000px) {
    /* section 1 */
    .conteudo__contain__section1{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 100px;
        justify-content: center;
        align-items: center;
    }
    .titulo-principal {
        font-size: 40px !important;
    }
    .texto__conteudo__contain__section1 {
        margin-bottom: 100px;
    }
    .titulo-secundario {
        font-size: 25px !important;
    }
    .botoes-section1 {
        display: flex;
        flex-direction: row;
        
    }
    .botao-diferencial_section1 {
        position: relative;
        bottom: 150px;
        left:15px; 
    }
    .sectio1 {
        height: 80vh;
    }
   
   
}