.sectio1 {
    height:  85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
}
.contain__section1 {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.conteudo__contain__section1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.titulo-principal span {
    color: var(--verde);
}

.botoes-section1 {
    
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}